<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caotic Django</title>
    <style>
        table, th,td {
            border: 1px solid black;
        }
        .list{
            list-style-type: none; 
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .list li{
            padding: 0px 2px;
        }
        .list li:nth-child(odd){
            text-decoration: underline;
        }
        .list li:nth-child(even){
            text-decoration: overline;
        }

    </style>
</head>
<body>
    <h1>FP LLEFIA</h1>
    <h2>Modulos de DAW</h2>
    <table>
        <thead><tr><th>TABLA</th></tr></thead>
        <tbody><tr><td>
            <ul class="list">
                <li>MP1</li>
                <li>MP2</li>
                <li>MP3</li>
                <li>MP4</li>
                <li>MP5</li>
                <li>MP6</li>
                <li>MP7</li>
                <li>MP8</li>
                <li>MP9</li>
                <li>MP10</li>
                <li>MP11</li>
                <li>MP12</li>
                <li>MP13</li>
            </ul>
            {% if subjectsdaw%}
            <ul class="list">
                {% for subject in subjectsdaw %}
                    <li>{{subject.capitalize}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </td></tr></tbody>
    </table>
